{% extends 'SchoolApp/base.html' %}
{% block content %}
{% load static%}

<section data-bs-version="5.1" class="header1 cid-tJS9vXDdRK" id="header01-7">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-7 image-wrapper">
			{% for image in about.image.all %}
				<img class="w-100" src="{{image.Image.url}}" alt="{{image}}">
			{% endfor %}
			</div>
			<div class="col-12 col-lg col-md-12">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>About us</strong></h1>
					<p class="mbr-text mbr-fonts-style mb-4 display-7">
						{{about.content}}</p>
					<div class="mbr-section-btn mt-3"><a class="btn btn-primary display-7" href="#">Register now</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="features15 cid-tLek7gQhG7" id="features015-m">
{% endblock%}